@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
	position: relative;
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Philosopher', 'Verdana', sans-serif;
}

#section1 {padding-top:70px;color: #fff; background-color:rgba(0,0,0,0.5);}
#section2 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;color: #fff; background-color: #ff9800;}

#section1 {
	background: url("../imagenes/lab/lab2.jpg") no-repeat center center;
	background-size: cover;
	font-size: 1.4em;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 150px;
    text-shadow: 2px 2px #000000;
}

#section1 h1{
	text-align: right;
}

#section1 p {
	text-align: center;
}

#section1 img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#section2 {
	text-align: center;
	font-size: 1.5em;
}

table{
	height: 400px; 
}

tbody{
    overflow-y: scroll;
    height: 400px;
    width: 93%;
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.75;
}

tr {
	width: 100%;
	display: inline-table;
}

td{
	color: #673ab7;
	background-color: #FFFFFF;
	opacity: 1;
}

td:hover{
	color: #FFFFFF;
	background-color: #673ab7;
	opacity: 0.7;
}

.muestras-info {
	border-radius: 10px;
	background-color: #000000;
	opacity: 0.9;
	margin: auto;
	height: 400px;
	width: 100%;
	overflow-y: scroll;
}

.form_paciente{
	align-self: center;
}

#section3 {
	text-align: left;
	font-size: 1.5em;
	padding-bottom: 100px;
}

.pie {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 2%;
	text-shadow: 1px 1px #000;
	color: #FFF
}