@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
	position: relative;
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Philosopher', 'Verdana', sans-serif;
}

.mapCanvas {
	height: 300px;
	width: 100%;
}

#section1 {padding-top:70px;color: #fff; background-color:rgba(0,0,0,0.5);}
#section2 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;color: #fff; background-color: #ff9800;}

#section1 {
	font-size: 1.4em;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

#section1 p {
	text-align: center;
}

#section1 img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#section2 .centrosText {
	text-align: center;
	font-size: 1.5em;
}

#section1, #section2 .centrosText, #section2 h2, #section3 {
	text-shadow: 2px 2px #000000;
}

#section1-bg {
  position: absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}
@media (max-width: 767px) {
  #section1-bg {
    background: url("../imagenes/fondos/fondo4.jpg") no-repeat center center;
    z-index: -1;
  }

  #section1-bg video {
    display: none;
  }
}
.panelCentroBody {
	color: black;
	font-size: 1.1em;
	height: 200px;
	overflow-y: scroll;
}

video {
  height: 650px;
  position:absolute;
  z-index:-1;
}

video.fillWidth {
  width: 100%;
}

.modal-lg {
	width: 90%;
}

.content-slide{
	max-width: 70%;
	margin: 0px auto;
}

#slider{
	margin: 0px;
}

.pie {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 2%;
	text-shadow: 1px 1px #000;
	color: #FFF
}