@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
	position: relative;
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Philosopher', 'Verdana', sans-serif;
}

#section1 {padding-top:70px;color: #fff; background-color:rgb(94, 146, 161);}

#pacienteNombre {
	text-align: center;
}

#section1 {
	text-shadow: 2px 2px #000000;
	font-size: 1.4em;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}

.row{
	align-self: center;
	margin-right: auto;
	margin-left: auto;
}

.pie {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 2%;
	text-shadow: 1px 1px #000;
	color: #FFF
}